*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-div{
/* background-color: red; */
height: 82vh;
width: 100%;
margin-top: 80PX;
position: fixed;
z-index: 4;

}
.form-div{
    /* background-color:gray; */
    width: 70%;
    padding: 2%;
    margin-left: 15%;
    height: 75%;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    z-index: -4;
    margin-top: 1%;
    backdrop-filter: blur(7px);
}
.bg-video{
    width: 100%;
  position: absolute; 
 z-index: -4;
opacity: 0.7; 
}
.form-row{
    font-weight: bolder;
    font-size: 15px;
}
label{
    margin-top: 1%;
   
}
.dropdown-menu{
    font-weight: bolder;
}

