*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.main-div{
    height: 100vh;
    width: 100%;
}
table{
margin-left: auto;
margin-right: auto;
/* margin-top: 6%;  */
text-align: center;
/* margin-top: 0px; */

}
tr:hover{
    background-color:lightgreen;
    font-weight: bolder;
}